vendor/
.DS_Store
autoload.php
build/phpmd
build/phpmd
build/phpmd
build/phpmd
build/phpmd
build/coverage/
.DS_Store
.phpunit.result.cache
.phpunit.xml
build/coverage.clover
build/phpunit
build/coverage.clover
